# Code alongs - python fundamentals 1

In [1]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [2]:
age = input("Give me your age: ")
print(f"In five years you are {age + 5} age years old")

TypeError: can only concatenate str (not "int") to str

In [5]:
# tuple
# in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

('33', str)

In [9]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [12]:
print(f"{loves_math = }")

loves_math = True

## Collections

- list
- tuples
- sets
- dictionary

In [13]:
# list of one data type only 
interests = ["badminton", "yoga", "math", "programming"]

# list of mixed data types
person = ["Kokchun", 33, True]

person

['Kokchun', 33, True]

In [14]:
interests

['badminton', 'yoga', 'math', 'programming']

In [16]:
type(person), type(person[1])

(list, int)

### Slicing and indexing

In [18]:
interests[1:3]

['yoga', 'math']

In [21]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [22]:
person.append(interests)
person

['Kokchun', 33, True, ['badminton', 'yoga', 'math', 'programming']]

In [25]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [28]:
persons_interests = person[-1]
persons_interests[-2]

'math'

### Iterate over lists

In [33]:
# pythonic - idomatic python
for interest in persons_interests:
    print(interest)

# java: 
# for (int i = 0; i < persons_interests.length; i++){
#   System.out.println(persons_interests[i])
# }
print("\nDon't do this")
for i in range(len(persons_interests)):
    print(persons_interests[i])

badminton
yoga
math
programming

Don't do this
badminton
yoga
math
programming

In [36]:
# not pythonic
for i in range(len(persons_interests)):
    print(i+1, persons_interests[i])

1 badminton
2 yoga
3 math
4 programming

In [41]:
# pythonic
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

1 badminton
2 yoga
3 math
4 programming

### List creation

- append
- list comprehension

In [42]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

## Dictionary

- key: value pairs

In [51]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 30,
    "visualization": 40,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [52]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [54]:
len(courses.keys())

6

In [55]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [58]:
for course in courses: 
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modeling 30
visualization 40

In [63]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
python               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualization        40

## Strings

In [65]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [69]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'